:root {
    background-image: url(assets/background.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.clock-container {
    -webkit-backdrop-filter: blur(5px); backdrop-filter: blur(10px);
    min-width: 100vw;
    background-color: hsla(120, 100%, 50%, 0.2);
}

.clock {
    color: white;
    font-size: 6em;
    font-family: monospace;
    font-weight: bold;
    margin: 0;
    padding: 20px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .clock {
        font-size: 4em;
        padding: 15px;
    }
}

@media screen and (max-width: 480px) {
    .clock {
        font-size: 3em;
        padding: 10px;
    }
}

@media screen and (max-width: 320px) {
    .clock {
        font-size: 2em;
        padding: 8px;
    }
}